<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- SQLite connection notes:  Cache Size is set to 512MB.  That's essentially the entire size of the DB -->
    <!-- Journal Mode is off and Read Only is true since this is a read only data source -->
    <add name="Observer" connectionString="Data Source=Q:\\temp\\working.db;Version=3;FailIfMissing=True;Pooling=true;Count Changes=off;Cache Size=536870912;Journal Mode=Off;Read Only=true"/>
  </connectionStrings>
</configuration>